@media screen and (max-width: 480px) {
    .block_container{
        
    }
    .cover_container{
        display: flex;
        height: calc(33.33vw + 20px);
    }
    .shadow{
        filter: blur(8px);
        position: absolute;
        width: calc(100% - 60px);
        margin-top: -16vw;
        right: 30px;
        left: 30px;
    }
    .cover1{
        width: 23.2vw;
        height: 23.2vw;
        margin-top: 5.065vw;
        border-radius: 17%;
        filter: brightness(0.38);
    }
    .cover2{
        width: 28.265vw;
        height: 28.265vw;
        z-index: 2;
        position: absolute;
        margin-left: calc(25% - 30px);
        transform: translateX(-25%);
        margin-top: 2.5325vw;
        border-radius: 17%;
        filter: brightness(0.38);
    }
    .cover3{
        width: 33.33vw;
        height: 33.33vw;
        z-index: 3;
        position: absolute;
        margin-left: calc(50% - 30px);
        transform: translateX(-50%);
        border-radius: 17%;
    }
    .cover31{
        width: 100%;
        height: 100%;
        border-radius: 17%;
        position: absolute;
        filter: brightness(0.38);
    }
    .PlayButton{
        position: absolute;
        display: flex;
        justify-self: center;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
    }
    .cover4{
        width: 28.265vw;
        height: 28.265vw;
        z-index: 2;
        position: absolute;
        margin-left: calc(75% - 30px);
        transform: translateX(-75%);
        margin-top: 2.5325vw;
        border-radius: 17%;
        filter: brightness(0.38);
    }
    .cover5{
        width: 23.2vw;
        height: 23.2vw;
        margin-top: 5.065vw;
        margin-left: auto;
        border-radius: 17%;
        filter: brightness(0.38);
    }
}