.PageSearch {
    background: linear-gradient(180deg, rgba(64,64,64,1) 0%, rgba(4,4,4,1) 100%);
    min-height: 80vh;
    padding-bottom: 20vh;
  }

  .searchHeader { 
      display: grid;
      grid-template-columns: 26px 1fr;
      grid-template-rows: 26px;
      padding: 30px;
      gap: 0px 15px;
      border-bottom: 1.5px solid #5c5c5c;
    }

    .searchHeader_loupe {
        grid-area: 1 / 1 / 2 / 2;
    }

    .searchHeader_input{
        grid-area: 1 / 2 / 2 / 3 ;
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 1.5px solid white;
        font-family: 'POPPINS';
        color: white;
        font-size: 15px;
        outline: none;
    }
    .noResult{
        display: flex;
        color: white;
        font-size: 18px;
        margin-top: calc(50vh - 87.5px - 9px);
        width: 100%;
        justify-content: center;
        font-family: Monument;
        font-weight: normal;
    }
    .loadingGif{
        position: absolute;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        width: 70px;
        height: 70px;

    }

