.account_container{
    width: 100%; 
}

.account_banner{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.profil_img_container{
    position: relative;
    margin-top: 2.8rem;
}

.profil_img_container img:first-child{
    border-radius: 50%;
}


.profil_img_container img:nth-child(2){
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.banner_info_container{
    margin-top: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    color: var(--white);
}



.account_content_container{
    margin-top: 1.8rem;
    padding: 3rem;
    padding-bottom: 25vh;
    background : linear-gradient(to top, #040404,#404040);
    border-top-right-radius: 50px;
    min-height: 100vh;
}

.morceaux_plus_ecoutes{
    color: var(--white);
    font-size: 18px;
    font-weight: normal;
}
.user_name{
    color: var(--white);
    font-size: 20px;
    font-family: Monument;
    margin-bottom: 30px;
}

.account_song_container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.account_each_song_container{
    border-bottom: 2px solid #666666;
    height: 10vh;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: space-between;
}

.account_each_song_container:last-child{
    border-bottom: none;
}

.account_song_artiste_container{
    display: flex;
    height: 100%;
    align-items: center;
    width: 60%;
}

.account_song_artiste_container img{
    height: 50%;
    border-radius: 50%;
}

.account_ecoute_like_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.account_title_artist_container{
    font-family: 'Poppins';
    margin-left: 10%;
   
}

.account_title_artist_container p:first-child{
    font-size: 1.3rem;
    font-weight: 300;
}

.account_title_artist_container p:nth-child(2), .account_ecoute_like_container p{
    font-size: 1.2rem;
    font-weight: 200;
}

.account_ecoute_like_container p{
    margin-right: 8%;
}


.account_playlist_container{
    margin-top: 3.9rem;
}

.playlist_favoris_container{
    display: flex;
}

.playlist_favoris_container h2{
    color: var(--white);
    font-family: 'Poppins';
    font-weight: 400;
    position: relative;
}

.playlist_favoris_container h2:first-child::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-color: var(--blue);
  
}

.playlist_favoris_container h2:nth-child(2){
    margin-left: 5rem;
    color: var(--grey);
}