.account_container{
    width: 100%; 
}

.account_banner{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.profil_img_container{
    position: relative;
    margin-top: 2.8rem;
}

.profil_img_container:first-child{
    border-radius: 50%;
}


.profil_img_container img:nth-child(2){
    position: absolute;
    bottom: -20px;
    right: -20px;
}

.banner_info_container{
    margin-top: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}



.account_content_container{
    padding: 3rem;
    background : linear-gradient(to top, #040404,#404040);
    border-top-right-radius: 50px;
    min-height: 200vh;
}

.morceaux_plus_ecoutes{
    color: var(--white);
}

.account_song_container{
    display: flex;
    flex-direction: column;
    
}

.account_each_song_container{
    border-bottom: 2px solid #666666;
    height: 10vh;
    display: flex;
    align-items: center;
}

.account_song_artiste_container{
    display: flex;
    height: 100%;
    align-items: center;
}

.account_song_artiste_container img{
    height: 50%;
    border-radius: 50%;
}

.account_ecoute_like_container{
    display: flex;
}

#aaa{
    font-size: 25rem;
}