.each_playlist div img{
    width: 100%;
}
.playlist_container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transform: scale(1.05) translateY(30px);
    margin-bottom: 30px;
}