.playlist_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.4rem;
}

.each_playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.each_playlist p{
    color: var(--white);
    margin-top: .8rem;
}