.imageContener{
    width: 100%;
}
.container{
    width: 100%;
}

.image{
    width: 125px;
    height: 125px;
    border-radius: 19px;
}

.musicName{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    width: auto;
    text-align: center;
    max-width: 125px;
    overflow-wrap: break-word;
}

.artistName{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    width: auto;
    text-align: center;
    max-width: 125px;
    overflow-wrap: break-word;
}

.PopUpUnactive{
    display: none !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    backdrop-filter: brightness(-7);
    z-index: 10;
}

.PopUpActive{
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    backdrop-filter: brightness(-7);
    z-index: 10;
    
}