.ItemList{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    border-bottom: solid #414141 0.5px;
    padding-bottom: 1.2rem;
}

.endList{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}

.optionList{
    float: right;
}