.artist_content_container{
    margin-top: 25vh;
    padding: 3rem;
    padding-top: 0;
    padding-bottom: 25vh;
    background : linear-gradient(to top, #040404,#404040);
    border-top-right-radius: 50px;
    min-height: 100vh;
    position: relative;
}

.resume{
    position: relative;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: #404040;
    width: 100vw;
    margin-left: -3rem;
}

.resume::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    width: 100vw;
    opacity: .15;
    background-image: linear-gradient(0, #404040, #040404);
}

.abonnement_btn{
    position: absolute;
    right: 20vw;
    top: -2vh;
}

.artist_title{
    padding-left: 3rem;
    color: var(--white);
    font-size: 2.6rem;
    padding-top: 2.1rem;
    font-family: 'Poppins', sans-serif;
}

.info_container{
    padding-left: 3rem;
    margin-top: 1.8rem;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-family: 'Poppins';
    margin-bottom: 1.6rem;
}

.info_container div p:first-child{
    font-weight: 400;
}

.info_container div p:last-child{
    font-weight: 200;
}

.titreCarouselContener{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1.8rem;
    font-size: larger;
    color: #727272;
    font-family: 'Monument Extended';
    font-weight: normal !important;
}

.activeArtistPart{
    color: whitesmoke;
    padding-bottom: 1rem;
    border-bottom: solid #0BA2CA 2px ;
    font-family: 'Monument Extended';
    font-weight: normal;
}

.discographiePart{
    display: none;
    opacity: 0;
    margin-top: 1.3rem;
    color: whitesmoke;
    transition: opacity 2s;
}

.playlistsPart{
    display: none;
    opacity: 0;
    margin-top: 1.3rem;
    transition: opacity 2s;
}

.podcastPart{
    display: none;
    opacity: 0;
    margin-top: 1.3rem;
    color: whitesmoke;
    transition: opacity 2s;
}

.partActive{
    opacity: 1;
    display: block !important;
}

.navArtist h2{
    margin-bottom: 1.8rem;
    
}