.blur_img_container{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}

.blur_img_containerA{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 5;
}

.filterA{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.blur_img_container img{
    width: 100%;
    margin-top: -25%;
}

.blur_img_containerA img{
    width: 100%;
    margin-top: -25%;
}