@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


/* CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #F68D28;
    --white: #F5F5F5;
    --colored_gradient: linear-gradient(45deg,#28F299, #0BB5E1);
  }

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}
.App {
    min-height: 100vh;
}
